@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,700");

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}



.body {
  background: #3598dc;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.cont {
  position: relative;
  width: 25%;
  height: 400px;
  padding: 10px 25px;
  margin: 10vh auto;
  background: #fff;
  border-radius: 8px;
}

.form {
  width: 100%;
  height: 100%;
}

.h1,
.h2,
.user,
.pass {
  text-align: center;
  display: block;
}

.h1 {
  color: #606060;
  font-weight: bold;
  font-size: 40px;
  margin: 30px auto;
}

.user,
.pass,
.login {
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: lighter;
  margin-bottom: 30px;
}

.user,
.pass {
  background: #ecf0f1;
}

.login {
  color: #fff;
  cursor: pointer;
  margin-top: 20px;
  background: #3598dc;
  transition: background 0.4s ease;
}

.login:hover {
  background: #3570dc;
}

@media only screen and (min-width: 280px) {
  .cont {
    width: 90%;
  }
}

@media only screen and (min-width: 480px) {
  .cont {
    width: 60%;
  }
}

@media only screen and (min-width: 768px) {
  .cont {
    width: 40%;
  }
}

@media only screen and (min-width: 992px) {
  .cont {
    width: 30%;
  }
}

.h2 {
  color: #fff;
  margin-top: 25px;
}

.page {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: all 0.6s cubic-bezier(0.5, 0.2, 0.2, 1.1);
  -webkit-transition: all 0.6s cubic-bezier(0.5, 0.2, 0.2, 1.1);
  -moz-transition: all 0.6s cubic-bezier(0.5, 0.2, 0.2, 1.1);
  -o-transition: all 0.6s cubic-bezier(0.5, 0.2, 0.2, 1.1);
  color: #fff;
  overflow: hidden;
}

.page {
  position: absolute;
}

#p1 {
  left: 0;
}

#p2,
#p3,
#p4,
#p5 {
  left: 200%;
}

#p1 {
  background: darkslateblue;
}
#p2 {
  background: tomato;
}
#p3 {
  background: gold;
}
#p4 {
  background: deeppink;
}
#p5 {
  background: rebeccapurple;
}

#t2:target #p2,
#t3:target #p3,
#t4:target #p4,
#t5:target #p5 {
  transform: translateX(-190%);
  -webkit-transform: translateX(-190%);
  -moz-transform: translateX(-190%);
  -o-transform: translateX(-190%);
  transition-delay: 0.4s !important;
}

#t2:target #p1,
#t3:target #p1,
#t4:target #p1,
#t5:target #p1 {
  background: black;
}

#t2:target #p1 .icon,
#t3:target #p1 .icon,
#t4:target #p1 .icon,
#t5:target #p1 .icon {
  -webkit-filter: blur(3px);
}

.icon {
  color: #fff;
  font-size: 32px;
  display: block;
}

.ul-1 .icon:hover {
  opacity: 0.5;
}

.page .icon .title {
  line-height: 2;
}

#t2:target ul .icon,
#t3:target ul .icon,
#t4:target ul .icon,
#t5:target ul .icon {
  transform: scale(0.6);
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -o-transform: scale(0.6);
  transition-delay: 0.25s;
}

#t2:target #dos,
#t3:target #tres,
#t4:target #cuatro,
#t4:target #cinco {
  transform: scale(1.2) !important;
  -webkit-transform: scale(1.2) !important;
  -moz-transform: scale(1.2) !important;
  -o-transform: scale(1.2) !important;
}

.ul-1 {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 280px;
  width: 10%;
  padding: 0;
  text-align: center;
}

#menu .icon {
  margin: 30px 0;
  transition: all 0.5s ease-out !important;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
}

a {
  text-decoration: none;
}

.title,
.hint {
  display: block;
}

.title {
  font-size: 38px;
}

.hint {
  font-size: 13px;
}

#p4 .hint {
  display: inherit !important;
}

.hint a {
  color: yellow;
  transition: all 250ms ease-out;
  -webkit-transition: all 250ms ease-out;
  -moz-transition: all 250ms ease-out;
  -o-transition: all 250ms ease-out;
}

.hint a:hover {
  color: #fff;
}

.line-trough {
  text-decoration: line-through;
}

.page .icon {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 10%;
  left: 0;
  width: 270px;
  height: 170px;
  margin: auto;
  text-align: center;
  font-size: 80px;
  line-height: 1.3;
  transform: translateX(360%);
  -webkit-transform: translateX(360%);
  -moz-transform: translateX(360%);
  -o-transform: translateX(360%);
  transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1.25);
  -webkit-transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1.25);
  -moz-transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1.25);
  -o-transition: all 0.5s cubic-bezier(0.25, 1, 0.5, 1.25);
}

.page#p1 .icon {
  height: 220px;
}

.page#p1 .icon {
  transform: translateX(10%) !important;
}

#t2:target .page#p2 .icon,
#t3:target .page#p3 .icon,
#t4:target .page#p4 .icon,
#t5:target .page#p5 .icon {
  transform: translateX(0) !important;
  -webkit-transform: translateX(0) !important;
  -moz-transform: translateX(0) !important;
  -o-transform: translateX(0) !important;
  transition-delay: 1s;
}

.adjust {
  max-width: 100vw;
  max-height: 100vh;
  overflow-y: auto;
}

.list-group {
  max-height: 100vh;
  margin-bottom: 10px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.roundede {
  border-radius: 50%;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

/* Reset Select */
.select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #0275d8;
  background-image: none;
}
/* Remove IE arrow */
select::-ms-expand {
  display: none;
}
/* Custom Select */
.selectt {
  position: relative;
  display: flex;
  width: 10em;
  height: 3em;
  line-height: 3;
  background: #0275d8;
  overflow: hidden;
  border-radius: 0.25em;
}
.select {
  flex: 1;
  padding: 0 1.3em;
  color: #fff;
  cursor: pointer;
}
/* Arrow */
.selectt::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #0275d8;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}
/* Transition */
.selectt:hover::after {
  color: #f39c12;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.background {
  padding: 0 25px 25px;
  position: relative;
  width: 100%;
}

.background::after {
  content: '';
  background: #60a9ff;
  background: -moz-linear-gradient(top, #60a9ff 0%, #4394f4 100%);
  background: -webkit-linear-gradient(top, #60a9ff 0%,#4394f4 100%);
  background: linear-gradient(to bottom, #60a9ff 0%,#4394f4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#60a9ff', endColorstr='#4394f4',GradientType=0 );
  height: 350px;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 1;
}

@media (min-width: 900px) {
  .background {
    padding: 0 0 25px;
  }
}

.containerr {
  margin: 0 auto;
  padding: 50px 0 0;
  max-width: 960px;
  width: 100%;
}

.panel {
  background-color: #fff;
  border-radius: 10px;
  padding: 15px 25px;
  position: relative;
  width: 100%;
  z-index: 10;
}

.pricing-table {
  box-shadow: 0px 10px 13px -6px rgba(0, 0, 0, 0.08), 0px 20px 31px 3px rgba(0, 0, 0, 0.09), 0px 8px 20px 7px rgba(0, 0, 0, 0.02);
  display: flex;
  flex-direction: column;
}

@media (min-width: 900px) {
  .pricing-table {
    flex-direction: row;
  }
}

.pricing-table * {
  text-align: center;
  text-transform: uppercase;
}

.pricing-plan {
  border-bottom: 1px solid #e1f1ff;
  padding: 25px;
}

.pricing-plan:last-child {
  border-bottom: none;
}

@media (min-width: 900px) {
  .pricing-plan {
    border-bottom: none;
    border-right: 1px solid #e1f1ff;
    flex-basis: 100%;
    padding: 25px 50px;
  }

  .pricing-plan:last-child {
    border-right: none;
  }
}

.pricing-img {
  margin-bottom: 25px;
  max-width: 100%;
}

.pricing-header {
  color: #888;
  font-weight: 600;
  letter-spacing: 1px;
}

.pricing-features {
  color: #016FF9;
  font-weight: 600;
  letter-spacing: 1px;
  margin: 50px 0 25px;
}

.pricing-features-item {
  border-top: 1px solid #e1f1ff;
  font-size: 12px;
  line-height: 1.5;
  padding: 15px 0;
}

.pricing-features-item:last-child {
  border-bottom: 1px solid #e1f1ff;
}

.pricing-price {
  color: #016FF9;
  display: block;
  font-size: 32px;
  font-weight: 700;
}

.pricing-button {
  border: 1px solid #9dd1ff;
  border-radius: 10px;
  color: #348EFE;
  display: inline-block;
  margin: 25px 0;
  padding: 15px 35px;
  text-decoration: none;
  transition: all 150ms ease-in-out;
}

.pricing-button:hover,
.pricing-button:focus {
  background-color: #e1f1ff;
}

.pricing-button.is-featured {
  background-color: #48aaff;
  color: #fff;
}

.pricing-button.is-featured:hover,
.pricing-button.is-featured:active {
  background-color: #269aff;
}

.background-home {
  background-color: rgb(66, 151, 255);
  height: 70vh;
  z-index: 0;
}

.container-width {
  padding-top: 30vh;
  height: 90vh;
}

.z-index-class {
  z-index: 3;
}

 .tag-saucy {
  position: absolute;
  background: #f2d900;
  text-align: center;
  border-radius: 10px 10px 10px 10px; 
  color: #000;
  /* padding: 3px; */
  padding-top: 15px;
  /* font-size: 14px; */
  width: 10vw;
  max-width: 15vw;
  max-height: 10vw;
  margin-top: -8vh;
  margin-left: -3vh

}


@media only screen and (max-width: 400px) {
  .tag-saucy  {
    padding-left: 7em;
    margin-top: -2em;
    margin-left: 0.001em;
    /* margin-bottom: 14em; */
    /* margin-left: 7em; */
  }
  
  .tag-saucy p {
    margin-left: -7em;
    margin-top: -0.5em;
  }
}

.tag-saucyy {
  position: absolute;
  background: rgb(243, 122, 118);
  text-align: center;
  border-radius: 10px 10px 10px 10px; 
  color: #000;
  /* padding: 3px; */
  padding-top: 15px;
  /* font-size: 14px; */
  width: 10vw;
  max-width: 15vw;
  max-height: 10vw;
  margin-top: -8vh;
  margin-left: 20vh;

}

.position-change {
  z-index: 3;
  padding: 100px;
}

/* .position-style {
  position: absolute;
} */


.disabled {
  pointer-events: none;
  cursor: default;
}





ul, li {
  list-style: none;
}
.tg-list {
  text-align: center;
  display: flex;
  align-items: center;
}
.tg-list-item {
  margin: 0 2em;
}

.tgl {
  display: none;
}
.tgl, .tgl:after, .tgl:before, .tgl *, .tgl *:after, .tgl *:before, .tgl + .tgl-btn {
  box-sizing: border-box;
}
.tgl::selection, .tgl:after::selection, .tgl:before::selection, .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection, .tgl + .tgl-btn::selection {
  background: none;
}
.tgl + .tgl-btn {
  outline: 0;
  display: block;
  width: 4em;
  height: 2em;
  position: relative;
  cursor: pointer;
  user-select: none;
}
.tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
  position: relative;
  display: block;
  content: "";
  width: 50%;
  height: 100%;
}
.tgl + .tgl-btn:after {
  left: 0;
}
.tgl + .tgl-btn:before {
  display: none;
}
.tgl:checked + .tgl-btn:after {
  left: 50%;
}
.tgl-light + .tgl-btn {
  background: #f0f0f0;
  border-radius: 2em;
  padding: 2px;
  transition: all 0.4s ease;
}
.tgl-light + .tgl-btn:after {
  border-radius: 50%;
  background: #fff;
  transition: all 0.2s ease;
}
.tgl-light:checked + .tgl-btn {
  background: #9fd6ae;
}
.tgl-ios + .tgl-btn {
  background: #fbfbfb;
  border-radius: 2em;
  padding: 2px;
  transition: all 0.4s ease;
  border: 1px solid #e8eae9;
}
.tgl-ios + .tgl-btn:after {
  border-radius: 2em;
  background: #fbfbfb;
  transition: left 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), padding 0.3s ease, margin 0.3s ease;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 4px 0 rgba(0, 0, 0, .08);
}
.tgl-ios + .tgl-btn:hover:after {
  will-change: padding;
}
.tgl-ios + .tgl-btn:active {
  box-shadow: inset 0 0 0 2em #e8eae9;
}
.tgl-ios + .tgl-btn:active:after {
  padding-right: 0.8em;
}
.tgl-ios:checked + .tgl-btn {
  background: #4297FF;
}
.tgl-ios:checked + .tgl-btn:active {
  box-shadow: none;
}
.tgl-ios:checked + .tgl-btn:active:after {
  margin-left: -0.8em;
}
.tgl-skewed + .tgl-btn {
  overflow: hidden;
  transform: skew(-10deg);
  backface-visibility: hidden;
  transition: all 0.2s ease;
  font-family: sans-serif;
  background: #888;
}
.tgl-skewed + .tgl-btn:after, .tgl-skewed + .tgl-btn:before {
  transform: skew(10deg);
  display: inline-block;
  transition: all 0.2s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 2em;
  font-weight: bold;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, .4);
}
.tgl-skewed + .tgl-btn:after {
  left: 100%;
  content: attr(data-tg-on);
}
.tgl-skewed + .tgl-btn:before {
  left: 0;
  content: attr(data-tg-off);
}
.tgl-skewed + .tgl-btn:active {
  background: #888;
}
.tgl-skewed + .tgl-btn:active:before {
  left: -10%;
}
.tgl-skewed:checked + .tgl-btn {
  background: #4297FF;
}
.tgl-skewed:checked + .tgl-btn:before {
  left: -100%;
}
.tgl-skewed:checked + .tgl-btn:after {
  left: 0;
}
.tgl-skewed:checked + .tgl-btn:active:after {
  left: 10%;
}
.tgl-flat + .tgl-btn {
  padding: 2px;
  transition: all 0.2s ease;
  background: #fff;
  border: 4px solid #f2f2f2;
  border-radius: 2em;
}
.tgl-flat + .tgl-btn:after {
  transition: all 0.2s ease;
  background: #f2f2f2;
  content: "";
  border-radius: 1em;
}
.tgl-flat:checked + .tgl-btn {
  border: 4px solid #7fc6a6;
}
.tgl-flat:checked + .tgl-btn:after {
  left: 50%;
  background: #4297FF;
}
.tgl-flip + .tgl-btn {
  padding: 2px;
  transition: all 0.2s ease;
  font-family: sans-serif;
  perspective: 100px;
}
.tgl-flip + .tgl-btn:after, .tgl-flip + .tgl-btn:before {
  display: inline-block;
  transition: all 0.4s ease;
  width: 100%;
  text-align: center;
  position: absolute;
  line-height: 2em;
  font-weight: bold;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  backface-visibility: hidden;
  border-radius: 4px;
}
.tgl-flip + .tgl-btn:after {
  content: attr(data-tg-on);
  background: #4297FF;
  transform: rotateY(-180deg);
}
.tgl-flip + .tgl-btn:before {
  background: #ff3a19;
  content: attr(data-tg-off);
}
.tgl-flip + .tgl-btn:active:before {
  transform: rotateY(-20deg);
}
.tgl-flip:checked + .tgl-btn:before {
  transform: rotateY(180deg);
}
.tgl-flip:checked + .tgl-btn:after {
  transform: rotateY(0);
  left: 0;
  background: #4297FF;
}
.tgl-flip:checked + .tgl-btn:active:after {
  transform: rotateY(20deg);
}





/* css buttons */


.div {
  background-color: #333;
  border-radius: 0 0 .75em 0;
  color: #fff;
  font-family: 'open sans', sans-serif;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  margin-left: -999em;
  padding: 2em 1em 2em 1007em;
  text-align: center;
}
label:after {
  color: #fff;
  content: ' #';
}
.inputer {
  background: #fff0f5;
  border: 1px solid #222;
  color: #333;
  margin-right: 5.5em;
  padding: .5em;
}
.attribution {
  color: #888;
  margin-top: 3em;
  text-align: right;
  width: 100%;
}
.attribution a {
  color: #888;
}
.attribution a:hover,
.attribution a:focus {
  color: #333;
}

/* Button - these styles are the good stuff */

.buttoner {
  /* background-color: #999; */
  background-image: -webkit-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
  background-image:    -moz-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
  background-image:     -ms-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
  background-image:      -o-linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
  background-image:         linear-gradient(hsla(0,0%,100%,.05), hsla(0,0%,0%,.1));
  border: none;
  border-radius: .5em;
  box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.2),
              inset 0 2px 0 hsla(0,0%,100%,.1),
              inset 0 1.2em 0 hsla(0,0%,100%,0.1),
              inset 0 -.2em 0 hsla(0,0%,100%,.1),
              inset 0 -.25em 0 hsla(0,0%,0%,.25),
              0 .25em .25em hsla(0,0%,0%,.05);
  /* color: #444; */
  cursor: pointer;
  display: inline-block;
  font-family: sans-serif;
  font-size: 1em;
  /* font-weight: bold; */
  line-height: 1.5;
  /* margin: 0 .5em 1em; */
  padding: .5em 1.5em .75em;
  position: relative;
  text-decoration: none;
  /* text-shadow: 0 1px 1px hsla(0,0%,100%,.25); */
  /* vertical-align: middle; */
}
.buttoner:hover {
  outline: none;
}
.buttoner:hover,
.buttoner:focus {
  box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.2),
              inset 0 2px 0 hsla(0,0%,100%,.1),
              inset 0 1.2em 0 hsla(0,0%,100%,.1),
              inset 0 -.2em 0 hsla(0,0%,100%,.1),
              inset 0 -.25em 0 hsla(0,0%,0%,.25),
              inset 0 0 0 3em hsla(0,0%,100%,.2),
              0 .25em .25em hsla(0,0%,0%,.05);
}
.buttoner:active {
  box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.2),
              inset 0 2px 0 hsla(0,0%,100%,.1),
              inset 0 1.2em 0 hsla(0,0%,100%,.1),
              inset 0 0 0 3em hsla(0,0%,100%,.2),
              inset 0 .25em .5em hsla(0,0%,0%,.05),
              0 -1px 1px hsla(0,0%,0%,.1),
              0 1px 1px hsla(0,0%,100%,.25);
  margin-top: .25em;
  outline: none;
  padding-bottom: .5em;
}

/* Light Text */

.lightText {
  box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.25),
              inset 0 2px 0 hsla(0,0%,100%,.1),
              inset 0 1.2em 0 hsla(0,0%,100%,.05),
              inset 0 -.2em 0 hsla(0,0%,100%,.1),
              inset 0 -.25em 0 hsla(0,0%,0%,.5),
              0 .25em .25em hsla(0,0%,0%,.1);
  color: #fff;
  text-shadow: 0 -1px 1px hsla(0,0%,0%,.25);
}
.lightText:hover,
.lightText:focus {
  box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.25),
              inset 0 2px 0 hsla(0,0%,100%,.1),
              inset 0 1.2em 0 hsla(0,0%,100%,.05),
              inset 0 -.2em 0 hsla(0,0%,100%,.1),
              inset 0 -.25em 0 hsla(0,0%,0%,.5),
              inset 0 0 0 3em hsla(0,0%,100%,.2),
              0 .25em .25em hsla(0,0%,0%,.1);
}
.lightText:active {
  box-shadow: inset 0 0 0 1px hsla(0,0%,0%,.25),
              inset 0 2px 0 hsla(0,0%,100%,.1),
              inset 0 1.2em 0 hsla(0,0%,100%,.05),
              inset 0 0 0 3em hsla(0,0%,100%,.2),
              inset 0 .25em .5em hsla(0,0%,0%,.05),
              0 -1px 1px hsla(0,0%,0%,.1),
              0 1px 1px hsla(0,0%,100%,.25);
}

/* Large */

.large {
  font-size: 1.25em;
}

/* Medium */

.medium {
  font-size: 1em;
}

/* Small */

.small {
  font-size: .75em;
}

/* Regular */

.regular {
  border-radius: .5em;
}

/* Square */

.square {
  border-radius: .25em;
}

/* Round */

.round {
  border-radius: 1.25em;
}

/* Red */

.red {
  background-color: #4297ff;
}

/* Orange */

.orange {
  background-color: #f6cf6f;
}

/* Yellow */

.yellow {
  background-color: #fff6c6;
}

/* Green */

.green {
  background-color: #6fcf6f;
}

/* Blue */

.blue {
  background-color: #6fc6ff;
}

/* Purple */

.purple {
  background-color: #f6c6ff;
}

/* White */

.white {
  background-color: #eee;
}

/* Grey */

.grey {
  background-color: #999;
}

/* Black */

.black {
  background-color: #444;
}

/* Custom */

.custom {
  background-color: #fff0f5; /* Set the button color here */
  color: #444; /* Remove this for a dark background */
}

.font-color {
  color: black;
  font-size: 1em;


}


/* drop down button */

/* Body */

.containerer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.btner {
  outline: 0;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  background: #5380f7;
  min-width: 260px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
  box-sizing: border-box;
  padding: 16px 20px;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  overflow: hidden;
  cursor: pointer;
}
.btner:focus .dropdown, .btner:active .dropdown {
  transform: translate(0, 20px);
  opacity: 1;
  visibility: visible;
}
.btner .material-icons {
  border-radius: 100%;
  animation: ripple 0.6s linear infinite;
}
.btner .dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, .1);
  text-align: left;
  opacity: 0;
  visibility: hidden;
  transition: 0.3s ease;
}
.btner .dropdown:before {
  content: '';
  position: absolute;
  top: -6px;
  left: 20px;
  width: 0;
  height: 0;
  box-shadow: 2px -2px 6px rgba(0, 0, 0, .05);
  border-top: 6px solid #fff;
  border-right: 6px solid #fff;
  border-bottom: 6px solid transparent;
  border-left: 6px solid transparent;
  transform: rotate(-45deg);
  mix-blend-mode: multiple;
}
.btner .dropdown li {
  z-index: 1;
  position: relative;
  background: #fff;
  padding: 0 20px;
  color: #666;
}
.btner .dropdown li.active {
  color: #5380f7;
}
.btner .dropdown li:first-child {
  border-radius: 4px 4px 0 0;
}
.btner .dropdown li:last-child {
  border-radius: 0 0 4px 4px;
}
.btner .dropdown li:last-child a {
  border-bottom: 0;
}
.btner .dropdown a {
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, .05);
  padding: 16px 0;
  color: inherit;
  font-size: 10px;
  text-decoration: none;
}
@keyframes ripple {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.1), 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1);
 }
  100% {
    box-shadow: 0 0 0 20px rgba(255, 255, 255, 0.1), 0 0 0 40px rgba(255, 255, 255, 0.1), 0 0 0 60px rgba(255, 255, 255, 0.1), 0 0 0 80px rgba(255, 255, 255, 0);
 }
}


@keyframes ldio-v9q6rtgt8o {
  0% { transform: translate(-50%,-50%) rotate(0deg); }
  100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.ldio-v9q6rtgt8o div {
  position: absolute;
  width: 112.84px;
  height: 112.84px;
  border: 21.7px solid #93dbe9;
  border-top-color: transparent;
  border-radius: 50%;
}
.ldio-v9q6rtgt8o div {
  animation: ldio-v9q6rtgt8o 1.1627906976744184s linear infinite;
  top: 108.5px;
  left: 108.5px
}
.loadingio-spinner-rolling-bp0uc8kphr6 {
  width: 217px;
  height: 217px;
  display: inline-block;
  overflow: hidden;
  background: none;
  margin-left: 35vw;
  margin-top: 30vh;
}
.ldio-v9q6rtgt8o {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-v9q6rtgt8o div { box-sizing: content-box; }

.ab2 {
  text-decoration: none;
  font-size: 2rem;
}

.disable {
  pointer-events: none;
  cursor: default;
}

.abc {
  box-shadow: none;
}